---
layout: main.njk

galleryHorseHeads:
  - src: /images/animals/gallery/01-animals.jpg
  - src: /images/animals/gallery/02-animals.jpg
  - src: /images/animals/gallery/03-animals.jpg

galleryHorsesOnThePaddock:
  - src: /images/animals/gallery/07-animals.png
  - src: /images/animals/gallery/08-animals.jpg
  - src: /images/animals/gallery/09-animals.jpg
  - src: /images/animals/gallery/10-animals.jpg
  - src: /images/animals/gallery/11-animals.jpg
  - src: /images/animals/gallery/12-animals.jpg

relatedPages:
  - link: kidsAreWelcome
  - link: surfschool
  - link: bedAndBreakfast
---
{% import "partial.njk" as partial %}

{% hero {src:"/images/heros/hero-animals.jpg", 
alt:links[locale].animals.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

{% gallery {images:galleryHorseHeads} %}

<section class="centered">
  {{ partial.get(collections, tags, "who-we-are", locale) }}
</section>

{# {{ columns.two(
  leftColumn=partial.get(collections, tags, "chargesAdults", locale),
  rightColumn=[partial.get(collections, tags, "chargesKids", locale)]
)}} #}

<nav class="centered">
  {{ partial.get(collections, tags, "chargesKids", locale) }}
  {{ partial.get(collections, tags, "offers", locale) }}
</nav>

{% gallery {images:galleryHorsesOnThePaddock} %}

<br><br>
<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>
