<div class="form-wrapper centered">
  <form action="{{ env.mailerUrl }}/api/booking-request" method="post">
    <input name="apiKey" type="text" value="{{ env.apiKey }}" hidden/>
    <input name="locale" type="text" value="{{ locale }}" hidden/>
    <div class="form-fields">
      <!-- first traveler -->
      <div>
        <label>{{ contact.label }}</label>
      </div>
      <div class="form-fields__two">
        <div class="form-group form-fields__half">
          <div>
            <label for="firstName">{{ firstName.label }}
              <sup>&#x2605;</sup>
            </label>
          </div>
          <div>
            <input 
              name="firstName" id="firstName"
              type="text" 
              class="form-control" 
              data-valueMissing="{{ valueMissing.hint }}"
              autofocus
              required/>
          </div>
        </div>
        <div class="form-group form-fields__half">
          <div>
            <label for="lastName">{{ lastName.label }}
              <sup>&#x2605;</sup>
            </label>
          </div>
          <div>
            <input name="lastName" id="lastName"
              type="text"
              class="form-control"
              data-valueMissing="{{ valueMissing.hint }}"
              required/>
          </div>
        </div>
      </div>
      <!-- address and contact -->
      <div class="form-group">
        <div>
          <label for="address">{{ address.label }}</label>
        </div>
        <div>
          <input name="address" id="address" type="text"/>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label for="phone">{{ phone.label }}</label>
        </div>
        <div>
          <input name="phone" id="phone" 
            placeholder="{{ phone.placeholder }}" 
            type="tel"
            class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label for="email">{{ email.label }}
            <sup>&#x2605;</sup>
          </label>
        </div>
        <div>
          <input name="email" id="email" type="email"
            class="form-control"
            data-valueMissing="{{ valueMissing.hint }}"
            data-patternMismatch="{{ patternMismatch.email }}"
            required/>
        </div>
      </div>
      <div class="form-fields__two">
        <div class="form-group form-fields__half">
          <div>
            <label for="arrival">{{ arrival.label }}</label>
          </div>
          <div>
            <input name="arrival" id="arrival" type="date"
              class="form-control"/>
          </div>
        </div>
        <div class="form-group form-fields__half">
          <div>
            <label for="departure">{{ departure.label }}</label>
          </div>
          <div>
            <input name="departure" id="departure" type="date"
              class="form-control"/>
          </div>
        </div>
      </div>
      <!-- package -->
      <div class="form-group">
        <div>
          <label for="package">{{ package.label }}</label>
        </div>
        <select name="package" id="package"
          class="form-control">
          <option value="surfPackage1Week" selected>{{ surfPackage1Week.label }}</option>
          <option value="mtbPackage1Week">{{ mtbPackage1Week.label }}</option>
          <option value="SurfMtbPackage1Week">{{ SurfMtbPackage1Week.label }}</option>
          <option value="surfPackage2Weeks">{{ surfPackage2Weeks.label }}</option>
          <option value="mtbPackage2Weeks">{{ mtbPackage2Weeks.label }}</option>
          <option value="SurfMtbPackage2Weeks">{{ SurfMtbPackage2Weeks.label }}</option>
          <option value="BedAndBreakfastOnly">{{ BedAndBreakfastOnly.label }}</option>
          <option value="surfPackageOnly">{{ surfPackageOnly.label }}</option>
          <option value="mtbPackageOnly">{{ mtbPackageOnly.label }}</option>
        </select>
      </div>
      <!-- bed and breakfast -->
      <div class="form-group">
        <div>
          <label for="bedAndBreakfast">{{ bedAndBreakfast.label }}</label>
        </div>
        <select name="bedAndBreakfast" id="bedAndBreakfast"
          class="form-control">
          <option value="multiBedRoom" selected>{{ multiBedRoom.label }}</option>
          <option value="doubleRoom">{{ doubleRoom.label }}</option>
          <option value="singleRoom">{{ singleRoom.label }}</option>
          <option value="suite">{{ suite.label }}</option>
          <option value="tinyHouse">{{ tinyHouse.label }}</option>
          <option value="surfLodge">{{ surfLodge.label }}</option>
          <option value="camping">{{ camping.label }}</option>
        </select>
      </div>
      <!-- more travelers -->
      <div>
        <label>{{ travelers.label }}</label>
      </div>
      <!-- traveler 2 -->
      <div class="form-fields__two">
        <div class="form-group form-fields__half">
          <div>
            <label for="firstName">{{ firstName.label }}</label>
          </div>
          <div>
            <input name="firstName2" id="firstName2" type="text"/>
          </div>
        </div>
        <div class="form-group form-fields__half">
          <div>
            <label for="lastName">{{ lastName.label }}</label>
          </div>
          <div>
            <input name="lastName2" id="lastName2" type="text"/>
          </div>
        </div>
      </div>
      <!-- traveler 3 -->
      <div class="form-fields__two">
        <div class="form-group form-fields__half">
          <div>
            <label for="firstName">{{ firstName.label }}</label>
          </div>
          <div>
            <input name="firstName3" id="firstName3" type="text"/>
          </div>
        </div>
        <div class="form-group form-fields__half">
          <div>
            <label for="lastName">{{ lastName.label }}</label>
          </div>
          <div>
            <input name="lastName3" id="lastName3" type="text"/>
          </div>
        </div>
      </div>
      <!-- traveler 4 -->
      <div class="form-fields__two">
        <div class="form-group form-fields__half">
          <div>
            <label for="firstName">{{ firstName.label }}</label>
          </div>
          <div>
            <input name="firstName4" id="firstName4" type="text"/>
          </div>
        </div>
        <div class="form-group form-fields__half">
          <div>
            <label for="lastName">{{ lastName.label }}</label>
          </div>
          <div>
            <input name="lastName4" id="lastName4" type="text"/>
          </div>
        </div>
      </div>
      <div class="form-fields__hint">
        {{ evenMoreTravelers.hint }}
      </div>
      <!-- booking options -->
      <div>
        <label>{{ bookingOptions.label }}</label>
      </div>
      <div class="form-fields__checkbox">
        <input type="checkbox" name="airportTransfer" id="airportTransfer">
        <label for="airportTransfer" class="checkbox">{{airportTransfer.label}}</label>
      </div>
      <div class="form-fields__hint">
        {{airportTransfer.hint}} <a href="{{ links[locale].travelDirections.path }}" target="_blank">{{ links[locale].travelDirections.name }}</a>.
      </div>
      <div>
        <label for="comment">{{comment.label}}</label>
        <textarea name="comment" id="comment" rows="6"></textarea>
      </div>
      <!-- send -->
      <div class="form-fields__submit">
        <input type="submit" value="{{submit.label}}">
      </div>
    </div>
  </form>
</div>