---
layout: main.njk

galleryCamping:
  - src: /images/bed-and-breakfast/camping/01-camping.jpg
  - src: /images/bed-and-breakfast/camping/02-camping.jpg
  - src: /images/bed-and-breakfast/camping/03-camping.jpg
  - src: /images/bed-and-breakfast/camping/04-camping.jpg
  - src: /images/bed-and-breakfast/camping/05-camping.jpg
  - src: /images/bed-and-breakfast/camping/06-camping.jpg
  - src: /images/bed-and-breakfast/camping/07-camping.jpg
  - src: /images/bed-and-breakfast/camping/08-camping.jpg
  - src: /images/bed-and-breakfast/camping/09-camping.jpg
relatedPages:
  - link: surfschool
  - link: bedAndBreakfast
  - link: surfLodges
---
{% import "partial.njk" as partial %}

{% hero {src:"/images/heros/hero-camping.jpg", 
alt:links[locale].camping.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "welcome", locale) }}
</section>

<section id="camping">
  {% 2columns {
    headline: partial.getValueForKey(collections, tags, "camping", locale, "headline"),
    subHeadline: partial.getValueForKey(collections, tags, "camping", locale, "subtitle"),
    leftGallery: {images:galleryCamping, altDefault:"Camping in the surfcamp"},
    rightText: [partial.get(collections, tags, "camping", locale)]
  }%}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "booking", locale) }}
</section>

<div style="width: 100%; text-align: center; padding: 50px;">
  <a href="https://www.beyondsurfing.de/surfaward/Da_Silva_Surfcamp_award_2021.pdf" 
  target="_blank"><img src="https://www.beyondsurfing.com/wp-content/uploads/surf_camp_award_bw_2021.png" 
  border="0" alt="BeyondSurfing Surf Camp and School Award" style="width: 100px;"></a>
</div>

<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>
