---
layout: main.njk

bookingBanner:
  - link: bookingBedAndBreakfast
  - link: bookingPackages
  - link: bookingExperiences
---

{% import "partial.njk" as partial %}

<br><br>
<section class="centered">
  {{ partial.get(collections, tags, "response", locale) }}
</section>

<nav>
  {% related {links: links[locale], pages: bookingBanner} %}
</nav>
