<nav class="footer__social">
  <ul>
    <li>
      <a href="https://www.facebook.com/DaSilvaSurfcampPortugal/" target="_blank">
        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f"
          class="svg-inline--fa fa-facebook-f fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512">
          <path fill="currentColor"
            d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
          </path>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/dasilvasurfcamp/" target="_blank">
        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram"
          class="svg-inline--fa fa-instagram fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
          </path>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=eljYirYsOEs" target="_blank">
        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
          class="svg-inline--fa fa-youtube fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path fill="currentColor"
            d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
          </path>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://vimeo.com/dasilvasurfcampportugal" target="_blank">
        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="vimeo-v"
          class="svg-inline--fa fa-vimeo-v fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M447.8 153.6c-2 43.6-32.4 103.3-91.4 179.1-60.9 79.2-112.4 118.8-154.6 118.8-26.1 0-48.2-24.1-66.3-72.3C100.3 250 85.3 174.3 56.2 174.3c-3.4 0-15.1 7.1-35.2 21.1L0 168.2c51.6-45.3 100.9-95.7 131.8-98.5 34.9-3.4 56.3 20.5 64.4 71.5 28.7 181.5 41.4 208.9 93.6 126.7 18.7-29.6 28.8-52.1 30.2-67.6 4.8-45.9-35.8-42.8-63.3-31 22-72.1 64.1-107.1 126.2-105.1 45.8 1.2 67.5 31.1 64.9 89.4z">
          </path>
        </svg>
      </a>
    </li>
  </ul>
</nav>

<nav>
  <ul>
    <li>
      <a href="{{ links[locale].contact.path }}">{{ links[locale].contact.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].imprint.path }}">{{ links[locale].imprint.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].termsAndConditions.path }}">{{ links[locale].termsAndConditions.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].privacyPolicies.path }}">{{ links[locale].privacyPolicies.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].faq.path }}">{{ links[locale].faq.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].info.path }}">{{ links[locale].info.title }}</a>
    </li>    
  </ul>
</nav>

<nav class="footer__lang-switch">
  {% include "lang-switch.njk" %}
</nav>

<cookie-consent
  scripts="/_assets/scripts/google-tag-manager.js"
  >
  <div class="about">{{ translation[locale].aboutCookies | safe }}</div>
  <div class="buttons">
    <button data-action="accept">{{ translation[locale].acceptCookies }}</button>
    <button data-action="reject">{{ translation[locale].rejectCookies }}</button>
  </div>
</cookie-consent>
