---
layout: main.njk

galleryKids:
  - src: /images/kids-are-welcome/gallery/01-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/02-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/03-kids-are-welcome.jpg
galleryKids2:
  - src: /images/kids-are-welcome/gallery/04-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/05-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/06-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/07-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/08-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/09-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/10-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/11-kids-are-welcome.jpg
  - src: /images/kids-are-welcome/gallery/12-kids-are-welcome.jpg

relatedPages:
  - link: surroundings
  - link: yoga
  - link: skateboarding      
---
{% import "partial.njk" as partial %}

{% hero {src:"/images/heros/hero-kids-are-welcome.jpg", 
alt:links[locale].kidsAreWelcome.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section>
  {% gallery {images:galleryKids, altDefault:"kids are having fun"} %}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "what-matters", locale) }}
</section>

<section>
  {% gallery {images:galleryKids2, altDefault:"kids are welcome"} %}
</section>

<section class="centered text-top-margin">
  {{ partial.get(collections, tags, "discount", locale) }}
</section>

<br><br>
<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>
