{% for language in site.languages %}

  {% if loop.first %}
    <div class="language-switch">
    {% endif %}

    {# default: set to home #}
    {% set translatedUrl = "/" + language.code + "/" %}
    {% set activeClass = "is-active" if language.code == locale else "" %}

    {% for item in collections[tags] %}
      {% if not item.data.partial %}
        {% if item.data.locale == language.code %}
          {% set translatedUrl = item.url %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="language-switch__link {{ activeClass }} " href="{{ translatedUrl }}">
      <div class="language-switch__image-and-label">
        <img src="/_assets/flags/{{language.code}}.svg"
          alt="{{ language.label }}"
          class="language-switch__flag"
          width="21"
          height="21"/>
        <span class="language-switch__label">
          {{ language.label }}
        </span>
      </div>
    </a>

    {% if loop.last %}
    </div>
  {% endif %}
{% endfor %}
