{# Load resources afer document.readState to improve page speed #}
(function () {

  const headerScripts = () => {
    const resourcersUrl = '{{env.resourcersUrl}}'
    const scripts = [
      `https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.1/lazysizes.min.js`,
      // `https://www.googletagmanager.com/gtag/js?id=AW-1071340456`,
      // `${resourcersUrl}/_assets/scripts/google.js`,
      `/_assets/scripts/cookie-consent.min.js`,
    ]
    scripts
      .filter(script => !document.querySelector('script[src="' + script + '"]'))
      .map(script => {
        const scriptElement = document.createElement('script')
        scriptElement.src = script
        scriptElement.type = "module"
        document.head.append(scriptElement)
      })
  }

  function loadAfterDocumentReady(callback) {
    if (document.readyState === 'complete') {
      callback()
    } else {
      document.addEventListener("readystatechange", () => {
        if (document.readyState === 'complete') {
          callback()
        }
      })
    }
  }

  loadAfterDocumentReady(headerScripts)

})();