---
galleryMountainbike:
  - src: /images/mountain-bike/gallery/01-mountain-bike.jpg
  - src: /images/mountain-bike/gallery/02-mountain-bike.jpg
  - src: /images/mountain-bike/gallery/03-mountain-bike.jpg
  - src: /images/mountain-bike/gallery/04-mountain-bike.jpg
  - src: /images/mountain-bike/gallery/05-mountain-bike.jpg
  - src: /images/mountain-bike/gallery/06-mountain-bike.jpg
  - src: /images/mountain-bike/gallery/07-mountain-bike.jpg
  - src: /images/mountain-bike/gallery/08-mountain-bike.jpg
  - src: /images/mountain-bike/gallery/09-mountain-bike.jpg

galleryBikes:
  - src: /images/mountain-bike/bikes/01-cool-mtb-bike.jpg
  - src: /images/mountain-bike/bikes/02-cool-mtb-bike.jpg
  - src: /images/mountain-bike/bikes/03-cool-mtb-bike.jpg
  - src: /images/mountain-bike/bikes/04-cool-mtb-bike.jpg
  - src: /images/mountain-bike/bikes/05-cool-mtb-bike.jpg
  - src: /images/mountain-bike/bikes/06-cool-mtb-bike.jpg

relatedPages:
  - link: surfschool
  - link: trailRunning
  - link: skateboarding

mtbTours:
  - link: mtbTourDasilvaHomeTrail
  - link: mtbTourSantaCruz
  - link: mtbTourSintra
  - link: mtbTourMontejunto
  - link: mtbTourBarragemSaoDomingos
  - link: mtbTourSocorro

bookingTeasers:
  - link: bookingMtbPackage
  - link: bookingSurfMtbPackage
---

{% extends "main.njk"%}

{% import "partial.njk" as partial %}
{% import "price-table.njk" as priceTable %}

{% block logo %}
  {{ logo.show(
    imgSrc="/_assets/logos/dasilva-bikecamp-logo.png",
    link=links[locale].home.path,
    alt=links[locale].mountainBike.title)
  }}
{% endblock %}

{% block main %}

{% hero {src:"/images/heros/hero-mountain-bike.jpg", 
alt:links[locale].mountainBike.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section class="show-more-button">
  {% gallery {images:galleryMountainbike, altDefault:"MTB Portugal countryside and coast", maxDisplayItems:3} %}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "tours", locale) }}
</section>

<nav>
  {% related {links: links[locale], pages: mtbTours} %}
</nav>

<br><br>

<section class="centered">
  <script src="/_assets/scripts/video-player-light.min.js"></script>
  <video-player-light video-id="272765570">
	  {% image {src:"/images/mountain-bike/video-splash-mountain-bike.jpg", alt:"Video Maintainbike Camp Da Silva", variant:"hero", myClass:"video-splash"}%}
  </video-player-light>
</section>

<section>
  <div class="centered">
    {{ partial.get(collections, tags, "bikes", locale) }}
  </div>
  <div class="show-more-button">
    {% gallery {images:galleryBikes, altDefault:"Cool mountain bikes", maxDisplayItems:3} %}
  </div>
</section>

<section class="centered">
  </div>
    {{ partial.get(collections, tags, "apropos", locale) }}
  </div>
</section>

<section class="centered">
  <div class="centered-text">
    {{ partial.get(collections, tags, "mtb-package", locale) }}
  </div>
  {{ priceTable.two(collections, "prices", "mtb-package-prices", locale) }}
</section>

<section class="centered">
  {{ partial.get(collections, "prices", "surf-mtb-package-about", locale) }}
  <div class="centered-text">
    {{ partial.get(collections, "prices", "surf-mtb-package-including", locale) }}
  </div>
  {{ priceTable.two(collections, "prices", "surf-mtb-package-prices", locale) }}  
</section>

<section class="centered">
  {{ partial.get(collections, tags, "mtb-package-info", locale) }}
</section>

<nav class="centered">
  <h2>{{ links[locale].onlineBooking.title }}</h2>
  {% bookingTeasers { links: links[locale], teasers: bookingTeasers } %}
</nav>

<br><br>
<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>

{% endblock %}