{% import "partial.njk" as partial %}

{% macro one(collections, tags, page, locale="de") %}
  <div class="price-table-wrapper">
    <div class="price-table one-collumn">
      {{ partial.get(collections, tags, page, locale) }}
    </div>
  </div>
{% endmacro %}

{% macro two(collections, tags, page, locale="de") %}
  <div class="price-table two-collumns">
    {{ partial.get(collections, tags, page, locale) }}
  </div>
{% endmacro %}

{% macro three(collections, tags, page, locale="de") %}
  <div class="price-table">
    {{ partial.get(collections, tags, page, locale) }}
  </div>
{% endmacro %}