---
layout: main.njk

galleryMiniRamp:
  - src: /images/skateboarding/mini-ramp/01-mini-ramp.jpg
  - src: /images/skateboarding/mini-ramp/02-mini-ramp.jpg
  - src: /images/skateboarding/mini-ramp/03-mini-ramp.jpg
  
gallerySkatePark:
  - src: /images/skateboarding/skate-park/01-skate-park.jpg
  - src: /images/skateboarding/skate-park/02-skate-park.jpg
  - src: /images/skateboarding/skate-park/03-skate-park.jpg

relatedPages:
  - link: surfschool
  - link: mountainBike
  - link: trailRunning      
---
{% import "partial.njk" as partial %}

{% hero {src:"/images/heros/hero-skateboarding.jpg", 
alt:links[locale].skateboarding.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section>
  {% 2columns {
    headline:"Our Miniramp @ Da Silva Surfcamp",
    leftGallery: {images:galleryMiniRamp, altDefault:"Miniramp"},
    rightText: [partial.get(collections, tags, "miniRamp", locale)]
  }%}
</section>

<section>
  {% 2columns {
    headline:"Skatepark Lourinhã",
    leftGallery: {images:gallerySkatePark, altDefault:"Skatepark Lourinhã"},
    rightText: [partial.get(collections, tags, "skatePark", locale)]
  }%}
</section>

<br><br>
<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>
