---
gallerySurfing:
  - src: /images/surfschool/gallery/01-surfing.jpg
  - src: /images/surfschool/gallery/02-surfing.jpg
  - src: /images/surfschool/gallery/03-surfing.jpg
  - src: /images/surfschool/gallery/04-surfing.jpg
  - src: /images/surfschool/gallery/05-surfing.jpg
  - src: /images/surfschool/gallery/06-surfing.jpg
  - src: /images/surfschool/gallery/07-surfing.jpg
  - src: /images/surfschool/gallery/08-surfing.jpg
  - src: /images/surfschool/gallery/09-surfing.jpg
 
relatedPages:
  - link: yoga
  - link: mountainBike
  - link: skateboarding
---
{% extends "main.njk"%}

{% import "partial.njk" as partial %}
{% import "price-table.njk" as priceTable %}

{% block logo %}
  {{ logo.show(
    imgSrc="/_assets/logos/dasilva-surfschool-logo.png",
    link=links[locale].home.path,
    alt=links[locale].surfschool.title)
  }}
{% endblock %}

{% block main %}

{% hero {src:"/images/heros/hero-surfschool.jpg", 
alt:links[locale].surfschool.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section>
  {% 2columns {
    leftGallery: {images:gallerySurfing, altDefault:"Surf School", maxDisplayItems:9},
    rightText: [partial.get(collections, tags, "qualified", locale)]
  }%}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "prices", locale) }}
  {{ priceTable.two(collections, "prices", "surfSchoolPrices", locale) }}
  {{ partial.get(collections, tags, "whats-included", locale) }}
  {{ partial.get(collections, tags, "class", locale) }}
</section>

<section>
  <script src="/_assets/scripts/video-player-light.min.js"></script>
  <video-player-light video-id="168799316">
	  {% image {src:"/images/surfschool/video-splash-surfschool-da-silva.jpg", alt:"Video Surfschool Da Silva", variant:"hero", myClass:"video-splash"}%}
  </video-player-light>
</section>


<section class="centered">
  {{ partial.get(collections, tags, "federacao-portuguesa", locale) }}
</section>

<br/>

<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>

{% endblock %}