---
layout: main.njk

galleryTailRunning:
  - src: /images/trail-running/gallery/01-trail-running.jpg
  - src: /images/trail-running/gallery/02-trail-running.jpg
  - src: /images/trail-running/gallery/03-trail-running.jpg
  - src: /images/trail-running/gallery/04-trail-running.jpg
  - src: /images/trail-running/gallery/05-trail-running.jpg
  - src: /images/trail-running/gallery/06-trail-running.jpg

relatedPages:
  - link: yoga
  - link: mountainBike
  - link: skateboarding
---
{% import "partial.njk" as partial %}
{% import "price-table.njk" as priceTable %}

{% hero {src:"/images/heros/hero-trail-running.jpg", 
alt:links[locale].trailRunning.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section>
  {% gallery {images:galleryTailRunning, altDefault:"Trail running impressions"} %}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "prices", locale) }}
</section>

<nav class="centered">
  {% related {links: links[locale], pages: relatedPages} %}
</nav>
