.two-columns {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__container>div {
    padding: 0;
    margin: 0 auto;
    max-width: 102.4rem;
    width: 100%;
  }

  // start with second column (text) #}
  &__left {
    grid-row-start: 2;
  }

  &__right {
  }

  // some head room above the head line
  // good for the anker links
  // $pad-width: 768px;
  @media screen and (min-width: $pad-width) {
    padding-top: 16rem;
  }

  @media screen and (min-width: 102.4rem) {

    &__container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;
    }

    &__container>div {
      padding: 0;
      margin: 0.5rem;
    }

    &__left {
      grid-row-start: 1;
      text-align: right;
    }
  }
}

.three-columns {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__container>div {
    padding: 0;
    margin: 0 auto;
  }

  @media screen and (min-width: 102.4rem) {

    &__container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 4rem;
    }

    &__container>div {
      padding: 0;
      margin: 0.5rem;
    }

    &__left {
      grid-row-start: 1;
      // text-align: right;
    }
  }
}