.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  &__last-item-maxdisplay {
    position: relative;
    display: block;
  }

  &__more-button {
    position: absolute;
    background-color: white;
    opacity: 1;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    bottom: -1em;
    right: -1em;
    z-index: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
  }

  &__more-button-icon {
    position: absolute;
    width: 2.6em;
    left: 0.7em;
    top: 0.7em;
  }

  &__more-than-maxdisplay {
    display: none;
  }

}

.gallery-image {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%; // not auto
  transition: 0.3s ease;
}

.gallery-image:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  transition: 0.3s ease;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media screen and (min-width: 767px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;

    &__more-button {
      display: none;
    }

    &__more-than-maxdisplay {
      display: none;
    }
  }
}

.gallery-popup {
  display: none;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(black, 0.9);
  z-index: 3500;

  &__show {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  &__image {
    width: 90%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 2 rem 4rem rgba(black, 0.8);
    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__control-icon {
    position: absolute;
    z-index: 50;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3em;
  }

  &__button-fill {
    z-index: 40;
    top: 50%;
    width: 2em;
    background-color: white;
  }

  &__previous {
    left: 2em;
  }

  &__next {
    right: 2em;
    transform: translate(+50%, -50%);
  }

  &__close {
    top: 2em;
    left: 2em;
  }
}

.show-more-button {

  @media screen and (min-width: 767px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr;
  
      &__more-button {
        display: block;
      }
  
      &__more-than-maxdisplay {
        display: none;
      }
    }
  }  
}