.instagram {
  display: flex;

  @include respond(small-to-middle) {
    display: block;
  }

  &__image { 
    margin-left: 2.4rem;

    @include respond(small-to-middle) {
      display: flex;
      width: 100%;
      justify-content: center;   
    }
  }
}