// reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines 1rem = 10px; 10px/16px = 62.5%
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
input,
select,
code,
textarea {
  font-family: $font-code;
  font-size: $font-size-middle;
  font-weight: $font-weight-light;
  line-height: $line-height-middle;
  color: $color-grey-dark-3;

  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4 {
    font-family: $font-header;
    text-align: center;
  }

  h1,
  .h1 {
    font-size: $font-size-title-middle;
    font-weight: $font-weight-title-middle;
    margin: 3.2rem auto 2.8rem auto;
  }

  h2,
  .h2 {
    font-size: $font-size-title-small;
    font-weight: $font-weight-title-small;
    margin: 2.8rem auto 2.1rem auto;
  }

  h3,
  .h3 {
    font-size: $font-size-title-smaller;
    font-weight: $font-weight-title-smaller;
    margin: 2.1rem auto 1.6rem auto;
  }

  h4,
  .h4 {
    font-weight: $font-weight-light;
  }

  @include respond(small) {
    font-size: $font-size-small;
    font-weight: $font-weight-light;

    h1,
    .h1 {
      font-size: $font-size-title-small;
      font-weight: $font-weight-title-small;
      margin: 1.6rem auto 0.8rem auto;
    }

    h2,
    .h2 {
      font-size: $font-size-title-smaller;
      font-weight: $font-weight-title-smaller;
      margin: 1.6rem auto 0.8rem auto;
    }

    h3,
    .h3 {
      font-size: $font-size-title-smallest;
      font-weight: $font-weight-title-smallest;
      margin: 1.2rem auto 0.8rem auto;
    }
  }

  @include respond(wide) {
    font-size: $font-size-wide;
    font-weight: $font-weight-middle;

    h1,
    .h1 {
      font-size: $font-size-title-wide;
      font-weight: $font-weight-title-wide;
    }

    h2,
    .h2 {
      font-size: $font-size-title-middle;
      font-weight: $font-weight-title-small;
    }

    h3,
    .h3 {
      font-size: $font-size-title-small;
      font-weight: $font-weight-title-small;
    }
  }

  p {
    margin-bottom: 2.1rem;

    @include respond(small) {
      margin-bottom: 1.2rem;
    }
  }

  // p:last-child {
  //   margin-bottom: 0;
  // }

  ul,
  ol {
    margin-left: 2.8rem;
  }

  ul > li {
    list-style: none;
  }

  ul > li:before {
    display: inline-block;
    content: "-";
    width: 1.6rem;
    margin-left: -1.6rem;
    vertical-align: top;
  }

  ul > li:last-child {
    margin-bottom: 2.8rem;
  }
}

a {
  &:link,
  &:visited {
    display: inline;
    color: $color-grey-dark-3;
    // text-decoration: none;
    font-weight: bolder;
  }

  &:hover {
    background-color: $color-grey-light-2;
  }
}

a.active {
  // doesn't work above with &:active
  background-color: $color-grey-light-2;
}

main,
footer {
  margin: 3.6rem;
  margin-top: 0;
  padding: 5rem 0.8rem;

  @include respond(middle) {
    margin: 1.6rem;
    margin-top: 0;
  }

  @include respond(small) {
    margin: 0rem;
  }
}

.centered {
  margin: 0 auto;
  padding: 0.8rem;
  max-width: $text-block-width;
}

.centered-text {
  text-align: center;
  margin-bottom: 3.2rem;
}

.text-top-margin {
  margin-top: 2.1rem;
}

// used by hero
.max-scaled {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.max-text-block-width {
  max-width: $text-block-width;
}

.display-if-middle-to-wide {
  @include respond(small) {
    display: none;
  }
}

.display-if-small {
  @include respond(middle-to-wide) {
    display: none;
  }
}

.header-image {
  object-fit: cover;
  width: 100%;
  height: 100%; // auto
  margin-top: 4.8rem;

  @include respond(small) {
    margin-top: 2.4rem;
  }
}

nav {
  a {
    text-decoration: none;
  }
}
