div.price-table>ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 3.2rem;

  @include respond(small) {
    grid-template-columns: 1fr;
    margin: 0 1.6rm;
  }  
}

div.price-table.two-collumns>ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// table (headline + rows)
div.price-table>ul>* {
  // list-style: none;
  // margin: 3.2rem;
  padding-inline-start: 0;
  font-family: $font-header;
  font-size: $font-size-title-smaller;
  font-weight: $font-weight-title-smaller;
  text-align: center;

  @include respond(small) {
    margin: 1.6rem;
  }
  @include respond(wide) {
    font-size: $font-size-title-small;
    font-weight: $font-weight-title-small;
  }
}

// override layout.css
// remove leading dashes
div.price-table>ul>li:before,
div.price-table>ul>li>ul>li:before {
  content: '';
}

// subtitle
div.price-table>ul>li>ul>li:first-child {
  padding-top: 0;
  font-weight: $font-weight-title-small;
  color: $color-grey-dark-2;
  border-top: 0;
}
div.price-table.no-subtitle {
  color: black;
}

// table content
div.price-table>ul>li>ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  font-size: $font-size-title-smallest;
  font-weight: $font-weight-title-smallest;


  @include respond(wide) {
    font-size: $font-size-title-smaller;
    font-weight: $font-weight-title-small;
  }  
}

// single reow
div.price-table>ul>li>ul>li {
  padding: 0.8rem;
  border-top: 1px solid #BBBBBB;

  @include respond(small) {
    padding: 0.4rem;
  }
}

// align single table in the center
.price-table-wrapper {
  display: flex;
  justify-content: center;
}

div.price-table.one-collumn>ul {
  display: grid;
  grid-template-columns: 1fr;
}

div.price-table.one-collumn>ul>li {
  padding: 0.8rem;
  border-top: 1px solid #BBBBBB;
  padding-inline-start: 0;
  margin: 0;
  font-size: $font-size-title-smallest;
  font-weight: $font-weight-title-smallest;

  @include respond(wide) {
    font-size: $font-size-title-smaller;
    font-weight: $font-weight-title-small;
  }    

  @include respond(small) {
    padding: 0.4rem;
  }
}