// COLORS
$color-red: red;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #555;

$color-white: #fff;
$color-black: #000;

// Text
$font-sans-serif: 'Roboto', sans-serif; //100, 300, 400
$font-code: 'Fira Code', serif; //100, 300, 400
$font-header: 'Noto Sans', sans-serif; //400, 600, 700

$line-height-middle: 1.6;
$line-height-wide: 1.8;

$font-size-small: 1.3rem;
$font-size-middle: 1.8rem;
$font-size-wide: 2.1rem;

$font-weight-light: 100; 
$font-weight-middle: 300;
$font-weight-strong: 400; 
$font-weight-stronger: 600;

// title
$font-size-title-smallest: 1.8rem;
$font-weight-title-smallest: 300;

$font-size-title-smaller: 2.4rem;
$font-weight-title-smaller: 300;

$font-size-title-small: 3.2rem;
$font-weight-title-small: 300;

$font-size-title-middle: 4.2rem;
$font-weight-title-middle: 300;

$font-size-title-wide: 6.4rem;
$font-weight-title-wide: 300;
